*,*::before,*::after {
  box-sizing: border-box;
}
#__nuxt {
  width: 100%;
}
body,h1,h2,h3,h4,h5,p,li,figure,figcaption,blockquote,dl,dd {
  margin: 0;
  display: flex;
}
ul,ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
  url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype");
}
